{% extends 'service/base.html' %}     
{% block content %}
  
<input onclick="window.location.href='/service/logs/create'" class="btn btn-success mb-4" type="submit" value="Добавить журнал" id="add-article-btn" style="position: absolute; top: 28%; left: 18.3%;">
   
            {% for object in object_list %}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">Дата и время последней попытки: <br>{{object.date_and_time_of_last_attempt}}</p>
                  <p class="card-text">Статус попытки: {{object.attempt_status}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button onclick="window.location.href='/service/logs/{{object.pk}}'" type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button onclick="window.location.href='/service/logs/update/{{object.pk}}'" type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      <button onclick="window.location.href='/service/logs/delete/{{object.pk}}'" type="button" class="btn btn-danger">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
              <style>
                .btn{
                   float: left;
                }
                .card-body  {
                   
                   height:230px;
                }
             </style>
            </div>
            {% endfor %}
{% endblock %}