{% extends 'service/base.html' %}     
{% block content %}       
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">Фамилия: {{object.last_name}}</p> 
                  <p class="card-text">Имя: {{object.first_name}}</p>
                  <p class="card-text">Отчество: {{object.surname}}</p>
                  <p class="card-text">email: {{object.email}}</p> 
                  <p class="card-text">Комментарий: {{object.comment}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.location.href='/users/profile/'">Edit</button>
                      <button type="button" class="btn btn-danger" onclick="window.location.href='#'">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
{% endblock %}